<h1 class="comef-title">
    Combat Effectiveness

    <button mat-icon-button (click)="showCombatEffectivenessDialog()">
        <mat-icon>help_outline</mat-icon>
    </button>
</h1>

<mat-divider class="divider"></mat-divider>

<div class="connection-ready-icon">
    <mat-icon *ngIf="!connectionReady" color="warn" matTooltip="PS2 Event streaming connection PENDING" (mouseenter)="connectionCheck('pending')">sensors</mat-icon>
    <mat-icon *ngIf="connectionReady" color="accent" matTooltip="PS2 Event streaming connection READY" (mouseenter)="connectionCheck('ready')">sensors</mat-icon>
</div>

<mat-form-field class="inputs">
    <mat-label>Player name</mat-label>
    <input matInput type="text" [formControl]="playerName">
</mat-form-field>
<button *ngIf="connectionReady" mat-icon-button (click)="addPlayer()">
    <mat-icon>add</mat-icon>
</button>

<mat-form-field class="inputs">
    <mat-label>Outfit tag</mat-label>
    <input matInput type="text" [formControl]="outfitTag">
    <mat-icon matSuffix matTooltip="Only online members will be tracked">info</mat-icon>
</mat-form-field>
<button *ngIf="connectionReady" mat-icon-button (click)="addOutfit()">
    <mat-icon>add</mat-icon>
</button>

<div>
    <div class="tracking-list">
        <mat-card>
            <mat-card-title>Players</mat-card-title>
            <mat-card-content>
                <table mat-table [dataSource]="trackedPlayers" matSort style="width: 100%;">

                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="currentClass">Class</th>
                        <td mat-cell *matCellDef="let element">
                            <img class="class-logo" *ngIf="element.currentClass == 'Infiltrator'" src="../../../assets/ps2/infiltrator-logo.png">
                            <img class="class-logo" *ngIf="element.currentClass == 'Light Assault'" src="../../../assets/ps2/la-logo.png">
                            <img class="class-logo" *ngIf="element.currentClass == 'Combat Medic'" src="../../../assets/ps2/medic-logo.png">
                            <img class="class-logo" *ngIf="element.currentClass == 'Engineer'" src="../../../assets/ps2/engi-logo.png">
                            <img class="class-logo" *ngIf="element.currentClass == 'Heavy Assault'" src="../../../assets/ps2/heavy-logo.png">
                            <img class="class-logo" *ngIf="element.currentClass == 'MAX'" src="../../../assets/ps2/max-logo.png">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="killer_score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="killerStats.score">Killer Score</th>
                        <td mat-cell *matCellDef="let element"> {{ element.killerStats.score | number: '1.2-2' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="medic_score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="medicStats.score">Medic Score</th>
                        <td mat-cell *matCellDef="let element"> {{ element.medicStats.score | number: '1.2-2' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="scout_score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="scoutStats.score">Scout Score</th>
                        <td mat-cell *matCellDef="let element"> {{ element.scoutStats.score | number: '1.2-2' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="engi_score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="engiStats.score">Engi Score</th>
                        <td mat-cell *matCellDef="let element"> {{ element.engiStats.score | number: '1.2-2' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="logistics_score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="logisticsStats.score">Logistics Score</th>
                        <td mat-cell *matCellDef="let element"> {{ element.logisticsStats.score | number: '1.2-2' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="objective_score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="objectiveStats.score">Objective Score</th>
                        <td mat-cell *matCellDef="let element"> {{ element.objectiveStats.score | number: '1.2-2' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="comef">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="combatEffectiveness">Combat Effectiveness</th>
                        <td mat-cell *matCellDef="let element"> {{ element.combatEffectiveness | number: '1.2-2' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="removePlayer(element)" matTolltip="Stop tracking">
                                <mat-icon>highlight_off</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="tracking-list">
        <mat-card>
            <mat-card-title>Last Events</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let event of lastEvents">
                        <div style="display: inline-block;">
                            {{ event }}
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-spinner *ngIf="loadingData" class="spinner"></mat-spinner>