<h1 class="comef-title">
    Combat Effectiveness

    <button mat-icon-button (click)="showCombatEffectivenessDialog()">
        <mat-icon>help_outline</mat-icon>
    </button>
</h1>

<mat-divider class="divider"></mat-divider>

<div class="connection-ready-icon">
    <mat-icon *ngIf="!connectionReady" color="warn" matTooltip="PS2 Event streaming connection PENDING">sensors</mat-icon>
    <mat-icon *ngIf="connectionReady" color="accent" matTooltip="PS2 Event streaming connection READY">sensors</mat-icon>
</div>

<mat-form-field class="inputs">
    <mat-label>Player name</mat-label>
    <input matInput type="text" [formControl]="playerName">
</mat-form-field>
<button *ngIf="connectionReady" mat-icon-button (click)="addPlayer()">
    <mat-icon>add</mat-icon>
</button>

<mat-form-field class="inputs">
    <mat-label>Outfit tag</mat-label>
    <input matInput type="text" [formControl]="outfitTag">
    <mat-icon matSuffix matTooltip="Only online members will be tracked">info</mat-icon>
</mat-form-field>
<button *ngIf="connectionReady" mat-icon-button (click)="addOutfit()">
    <mat-icon>add</mat-icon>
</button>

<div>
    <div class="tracking-list">
        <mat-card>
            <mat-card-title>Tracking</mat-card-title>
            <mat-card-content>
                <mat-selection-list #comefs [multiple]="false">
                    <mat-list-option *ngFor="let player of trackedPlayers" [value]="player">
                        <div style="display: inline-block;">
                            <button mat-icon-button (click)="removePlayer(player)">
                                    <mat-icon>highlight_off</mat-icon>
                                </button>
                            <img class="class-logo" *ngIf="player.currentClass == 'Infiltrator'" src="../../../assets/ps2/infiltrator-logo.png">
                            <img class="class-logo" *ngIf="player.currentClass == 'Light Assault'" src="../../../assets/ps2/la-logo.png">
                            <img class="class-logo" *ngIf="player.currentClass == 'Combat Medic'" src="../../../assets/ps2/medic-logo.png">
                            <img class="class-logo" *ngIf="player.currentClass == 'Engineer'" src="../../../assets/ps2/engi-logo.png">
                            <img class="class-logo" *ngIf="player.currentClass == 'Heavy Assault'" src="../../../assets/ps2/heavy-logo.png">
                            <img class="class-logo" *ngIf="player.currentClass == 'MAX'" src="../../../assets/ps2/max-logo.png">
                            <label>
                                    [{{player.outfitTag}}] {{player.name}}. Combat Effectiveness = {{ player.combatEffectiveness | number: '1.2-2' }}
                                </label>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="tracking-list">
        <mat-card>
            <mat-card-title>Last Events</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let event of lastEvents">
                        <div style="display: inline-block;">
                            {{ event }}
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-spinner *ngIf="loadingData" class="spinner"></mat-spinner>