.comef-title {
    padding: 2rem;
}

.tracking-list {
    margin: 1rem;
}

.comef-stat {
    float: right;
}

.inputs {
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.divider {
    padding: 1rem;
}

.spinner {
    position: absolute;
    top: 50%;
    right: 50%;
}

.class-logo {
    height: 20px;
}