<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Track No One</span>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <div>
            <button class="nav-button" mat-stroked-button color="accent" [routerLink]="['combat-effectiveness']" routerLinkActive="active">
              Combat Effectiveness
            </button>
        </div>
        <div>
            <button class="nav-button" mat-stroked-button color="accent" [routerLink]="['experience-events']" routerLinkActive="active">
              Experience Events
            </button>
        </div>
    </mat-drawer>

    <div class="sidenav-content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>

<mat-toolbar color="primary" class="footer">
    <span style="font-size: small;">v{{ appVersion }}</span>
    <span class="spacer"></span>
    <span style="font-size: medium; float: right; margin-right: 0.5rem;">Copyright ® The DERGON Studios</span>
    <img mat-img style="max-height: 50px;" src="../assets/img/tds.png">
</mat-toolbar>