<h1 class="comef-title">
    Combat Effectiveness

    <button mat-icon-button (click)="showCombatEffectivenessDialog()">
        <mat-icon>help_outline</mat-icon>
    </button>
</h1>

<mat-divider class="divider"></mat-divider>

<mat-form-field class="inputs">
    <mat-label>Player name</mat-label>
    <input matInput type="text" [(ngModel)]="playerName">
</mat-form-field>
<button mat-icon-button (click)="addPlayer()">
    <mat-icon>add</mat-icon>
</button>

<mat-form-field class="inputs">
    <mat-label>Outfit tag</mat-label>
    <input matInput type="text" [(ngModel)]="outfitTag">
</mat-form-field>
<button mat-icon-button (click)="addOutfit()">
    <mat-icon>add</mat-icon>
</button>

<div class="tracking-list">
    <mat-card>
        <mat-card-title>Tracking</mat-card-title>
        <mat-card-content>
            <mat-selection-list #comefs [multiple]="false">
                <mat-list-option *ngFor="let player of data" [value]="player">
                    <button mat-icon-button (click)="removePlayer(player)">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                    <label>
                        [{{player.outfitTag}}] {{player.name}}
                    </label>
                </mat-list-option>
            </mat-selection-list>
        </mat-card-content>
    </mat-card>
</div>

<mat-card style="height: 500px; overflow: scroll;">
    <mat-card-title>Events</mat-card-title>
    <mat-list *ngFor="let event of events">
        <mat-list-item *ngIf="event.type == 'serviceMessage'">
            {{ findPlayerNameById(event.payload?.attacker_character_id) }} killed {{ findPlayerNameById(event.payload?.character_id) }}
            <a *ngIf="wasHeadshot(event.payload)">&nbsp;with a HEADSHOT!</a>
            <a *ngIf="event.payload?.event_name=='GainExperience'"> Amount = {{event.payload?.amount}}</a>
        </mat-list-item>
    </mat-list>
</mat-card>

<mat-spinner *ngIf="loadingData" class="spinner"></mat-spinner>