.comef-title {
    padding: 2rem;
}

.tracking-list {
    margin-left: 1rem;
    width: 30%;
}

.comef-stat {
    float: right;
}

.inputs {
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.divider {
    padding: 1rem;
}